/*------------------------------------*\
$ADDS
\*------------------------------------*/
.add {
    background: $lightgray;
    margin: 0 auto 30px;
    @include respond-to(desktop) {
        margin: 0 auto 40px;
    }
}
.type-one {
    width: 320px;
    height: 50px;
    @include respond-to(tablet) {
        width: 468px;
        height: 60px;
    }
    @include respond-to(desktop) {
        width: 768px;
        height: 90px;
    }
}
.type-two {
    width: 320px;
    height: 50px;
    @include respond-to(tablet) {
        width: 468px;
        height: 60px;
    }
    @include respond-to(desktop) {
        width: 468px;
        height: 60px;
    }
}
.type-three {
    width: 300px;
    height: 250px;
    &.no-margin {
        left: -10px;
        @include respond-to(tablet) {
            left: 0;
        }
    }
    @include respond-to(tablet) {
        width: 232px;
        height: 193px;
    }
    @include respond-to(desktop) {
        width: 300px;
        height: 250px;
    }
}
.type-four {
    width: 320px;
    height: 50px;
    @include respond-to(tablet) {
        width: 468px;
        height: 60px;
    }
    @include respond-to(desktop) {
        width: 160px;
        height: 600px;
        margin: 0 30px 0 0;
    }
}
.no-margin {
    position: relative;
    left: -20px;
    @include respond-to(tablet) {
        left: 0;
    }
}
.add--flex {
    @include respond-to(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }
}