/*------------------------------------*\
$SUSCRIPCION
\*------------------------------------*/
.registro {
    .content {
        margin-bottom: 20px;
        @include respond-to(tablet) {
            text-align: center;
        }
    }
    .section__title {
        @include respond-to(tablet) {
            justify-content: center;
        }
    }
}
.registro__tipo {
    @include respond-to(tablet) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
    }
}
.registro__section {
    margin-bottom: 30px;
    padding-bottom: 6px;
    border-bottom: 1px solid $gray;
    @include respond-to(tablet) {
        width: 33.333%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
        padding-left: 10px;
        border-bottom: 0;
        border-right: 1px solid $gray;
    }
    &:first-of-type {
        @include respond-to(tablet) {
            width: 50%;
            border-bottom: 0;
            padding-right: 10px;
            padding-left: 0;
            padding-bottom: 0;
        }
    }
    &:last-of-type {
        padding-bottom: 0;
        border-bottom: 0;
        @include respond-to(tablet) {
            width: 16.666%;
            border: 0;
            padding-right: 10px;
            padding-left: 0;
            padding-bottom: 0;
        }
    }
    h3 {
        margin-bottom: 20px;
        width: 100%;
        text-transform: uppercase;
        @include respond-to(tablet) {
            text-align: center;
        }
    }
}
.registro__item {
    margin-bottom: 24px;
    @include respond-to(tablet) {
        width: auto;
        text-align: center;
        margin-bottom: 0;
        flex: 1;
    }
    @include respond-to(desktop) {
        padding: 0 8px;
    }
    p {
        margin-bottom: 10px;
        @include respond-to(tablet) {
            height: 130px;
            &.registro__precio {
                height: auto;
            }
        }
        @include respond-to(desktop) {
            height: 70px;
            &.registro__precio {
                height: auto;
            }
        }
    }
    .btn--dark {
        @include respond-to(tablet) {
            margin: auto;
        }
    }
}
.registro__precio {
    color: $secundario;
    @extend .roboto;
    font-weight: 700;
    margin-bottom: 10px;
    &.no-show {
        opacity: 0;
        @include less-than(tablet) {
            display: none;
        }
    }
}
.registro--box {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray;
    &.registro--box--radio {
        padding-bottom: 30px;
    }
    @include respond-to(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }
    h2 {
        @extend .noto;
        margin-bottom: 20px;
        text-transform: none;
        @include font-size(24px, 28px);
        width: 100%;
    }
    .input-group {
        @include respond-to(tablet) {
            width: calc(50% - 10px);
            .form__evento & {
                width: 100%;
            }
        }
    }
}
.pago--box {
    @include respond-to(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }
}
.pago--box--flex {
    @include respond-to(tablet) {
        width: calc(50% - 10px);
    }
}
.form--registro, .form--gratis, .form--empresa {
    max-width: 792px;
    margin: auto;
    display: none;
    @include respond-to(tablet) {
        margin-top: 30px;
    }
    @include respond-to(desktop) {
        margin-top: 70px;
    }
    .send-group {
        margin-bottom: 40px;
    }
}
.envio--box {
    display: none;
    .wrap--flex {
        @include respond-to(tablet) {
            justify-content: space-between;
        }
    }
}
.factura--box {
    display: none;
    @include respond-to(tablet) {
        .input-group {
            width: 100%;
        }
    }
    .input-group {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
.response--box {
    display: none;
    .btn--webpay {
        margin-bottom: 0;
    }
}
.container--registo {
    max-width: 792px;
    margin: 0 auto 20px;
    @include respond-to(desktop) {
        margin-bottom: 40px;
    }
    .bajada {
        margin-bottom: 0;
    }
}
.content {
    width: 100%;
    .reglist {
        width: 100%;
        text-align: left;
        li {
            @include font-size(14px, 16px);
            color: $error;
            transition: all $time;
            &::before {
                top: 4.5px;
                background: $error;
                transition: all $time;
            }
            &.regdone {
                color: $gray;
                &::before {
                    background: $gray;
                }
            }
        }
    }
}
.chechbox__box {
    @include respond-to(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-flow: row wrap;
    }
    .checkbox-group {
        @include respond-to(tablet) {
            width: calc(50% - 10px);
        }
    }
}