/*------------------------------------*\
$SHARE
\*------------------------------------*/
.share {
    width: 100%;
    border-top: 1px solid $gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 30px;
    p {
        @extend .roboto;
        font-weight: 700;
        @include font-size(14px, 22px);
        text-transform: uppercase;
        margin-right: 10px;
    }
    a {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        &:first-of-type {
            background: #3a5998;
        }
        &:nth-of-type(2) {
            background: #29a8e2;
        }
        &:nth-of-type(3) {
            background: #0077b4;
        }
        &:nth-of-type(4) {
            background: #de4139;
        }
        &:last-of-type {
            background: #ff6a08;
        }
        .no-touch & {
            &:hover {
                background: $lightgray;
                &:first-of-type svg {
                    fill: #3a5998;
                }
                &:nth-of-type(2) svg {
                    fill: #29a8e2;
                }
                &:nth-of-type(3) svg {
                    fill: #0077b4;
                }
                &:nth-of-type(4) svg {
                    fill: #de4139;
                }
                &:last-of-type svg {
                    fill: #ff6a08;
                }
            }
        }
    }
    svg {
        max-width: 16px;
        max-height: 16px;
        fill: white;
        transition: all $time;
    }
}
.content--flipbook {
    .share {
        overflow: hidden;
        margin-bottom: 0;
        color: white;
        border-top: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        width: auto;
        @include less-than(tablet) {
            right: -160px;
            width: 192px;
            justify-content: flex-start;
            transition: all $time;
            &.active {
                right: 0;
            }
        }
        p {
            @include less-than(tablet) {
                display: none;
            }
        }
    }
    .icon__share {
        display: flex;
        @include respond-to(tablet) {
            display: none;
        }
    }
}
.icon__share {
    width: 32px;
    height: 32px;
    background: #2e6fc3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    display: none;
}