/*------------------------------------*\
    		$SETTINGS
\*------------------------------------*/

/* ============== // Transition // ============== */

$time: .3s;
$transition-method: ease-in-out;


/* ============== // FONTS // ============== */
.noto {
    font-family: 'Noto Serif', serif;
}
.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}
/* ============== // COLORS // ============== */
$principal : #404040;
$gray : #d2d2d2;
$lightgray : #f2f2f2;
$darkgray : #76777b;
$main : #2dcca4;
$darkmain : #22997b;
$video : #8819d6;
$evento : #2e6fc3;
$secundario : #ffba24;
$columna : #e95a2d;
$brand : #b5c92c;
$error : #e62f38;